{%include "header.html"%}

<style>
    .singel-course {
        border-radius: 5px !important;
        border: 1px solid #E4E4E4!important;
        box-shadow: 0px 17px 13px #E9E9E9 !important;
    }
    .setp{
        text-indent: 50px !important;
        text-align: justify !important;
        padding-top: 5px !important;
    }
    p{
        text-align: justify !important;
    }
    ul {
        list-style: none;
    }
    ul li:before {
        content: '\2713';
        font-weight: bold;
    }

</style>
<section id="course-part" class="pt-115 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h3 class="title">About Us</h3>
                </div>
            </div>
        </div>
        <div id="main-more" style="display: block;">
            <div class="row mt-30">
                <div class="col-lg-12 col-md-12">
                    <div class="">
                        <div class="cont">
                            <h6 style="padding-bottom:10px;">How Smart Home Compare is Different From other Portals</h6>
                            <p>Portals are meant to simplify the way we navigate the real estate world but it's unfortunate that is not the case nowadays. It's common to spend countless hours going through listings and not being able to spot the ideal real-estate-deal you so much wish to get with the currently existing portals. That's where the Smart Home Compare [SHC] comes in. With this new initiative, no more straining, stressing or hopping from one portal to another trying to find a house to rent, property to lease or estate to buy.</p>
                            <p>Using Artificial Intelligence and Bigdata crunching, SHC sifts across data to bring up the best deals in the real estate market, clearing away the haze that has been covering the real estate world. </p>
                            <p>This advanced portal takes a new approach, different from ordinary real estate listing websites to help users find the most detailed overview of available offers on rental properties, open-to-lease assets and more, across the top rated portals in the United Arabs Emirates, all in one place.</p>
                            <p>With ways to cross-check agents and the offers they enlist, users get that opportunity to analyze the genuineness of a listing, the location of available rentals and more, at a single glance. In other words, the portal saves users a tone of time and money when searching for a house to rent, home to buy or property to lease.      </p>
                            <br>
                            <br>
                            <h6 style="padding-bottom:10px;">How Smart Home Compare Works Differently from other Portals.</h6>
                            <p>AI and Bigdata are the future of technology and it's interesting that the real estate world is among the top beneficiaries of these two innovations so far. What SHC does is it provides a super useful application of AI and Bigdata to help solve real-life problems in the real estate listing market. What makes this portal super helpful and extremely different from other portals is;</p>
                            <br>
                            <ul style="padding-left: 17px;">
                                <li>
                                    <p style="color:#3c2529;display: inline;padding-left:10px;font-weight: bold;">It fetches listings from top real estate portals and compresses the results in one place.</p>
                                    <p style="padding-left: 26px;">- This knocks off the need of having to jump from one portal to another trying to analyze and match what's being offered by major websites manually. With such information on one page, it becomes easy to cross compare deals, which helps to ease the decision-making process. Besides that, this helps a lot with saving time and money.   
                                    </p>
                                </li>
                                <br>
                                <li>
                                    <p style="color:#3c2529;display: inline;padding-left:10px;font-weight: bold;">It eases area by area comparison </p>
                                    <p style="padding-left: 26px;">- from a simple search on SHC, users are able to scan and focus their search on the specific area or location that is of interest - allowing them to do a cross-evaluation on properties available for rent, sell or lease.</p>
                                </li>
                                <br>
                                <li>
                                    <p style="color:#3c2529;display: inline;padding-left:10px;font-weight: bold;">It reveals the specific agent(s) behind the listed property(s) and the price. </p>
                                    <p style="padding-left: 26px;">- This helps the user to spot potential spaces where middlemen can take advantage of them, as well as validate the authenticity of the listings.</p>
                                </li>
                                <br>
                                <li>
                                    <p style="color:#3c2529;display: inline;padding-left:10px;font-weight: bold;">Allows market analyses </p>
                                    <p style="padding-left: 26px;">- using tools such the period filter, users can conduct a deeper analysis of how the market was, at particular past times - like for instance 7 days ago, a month ago, or even yesterday.</p>
                                </li>
                                <br>
                                <li>
                                    <p style="color:#3c2529;display: inline;padding-left:10px;font-weight: bold;">Zooms out on your preferred agent</p>
                                    <p style="padding-left: 26px;">- With the Agent Filter function users can precisely see what listings are available from their target agent across different locations or buildings. </p>
                                </li>
                                <br>
                                <li>
                                    <p style="color:#3c2529;display: inline;padding-left:10px;font-weight: bold;">Doing comparison based on expected yields</p>
                                    <p style="padding-left: 26px;"> - for people who want to see search results by preference, the same would be displayed with additional raw data for detailed analysis. 
                                    </p>
                                </li>
                                <br>
                                <li>
                                    <p style="color:#3c2529;display: inline;padding-left:10px;font-weight: bold;">It fetches listings from top real estate portals and compresses the results in one place.</p>
                                    <p style="padding-left: 26px;">- this can be a lot more time-saving in today's complex and what can be called a hazy real estate listing market.     
                                    </p>
                                </li>


                            </ul>
                            <p>In precise, the Smart Home Compare portal is an advanced platform that helps users to compare and contrast real estate listings from the best-rated portals, all in a single page. </p>
                            <p>Having the right information broken down into more palatable pieces like what the SHC portal does, helps people who are looking for apartments to rent, buy or lease property, make better and sober decisions, faster. Well, everybody values efficiency right, that's a yes!</p>
                            <p>Besides that, we are a user-empowered initiative, meaning other users get a feeling of what other people feel about listed properties, which helps to establish the credibility and worth of available assets, rental spaces and deals in the real estate world. </p>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%include "footer.html"%}