
{%include "header.html"%}

<style>
    .singel-course {
        border-radius: 5px !important;
        border: 1px solid #E4E4E4!important;
        box-shadow: 0px 17px 13px #E9E9E9 !important;
        height: 335px !important;
    }
    .setimage{
        height: 207px !important;
        width: 368px !important;
        margin-top: 0px !important;
    }
    @media only screen and (max-width: 600px) {
        .setimage {

            height: 190px !important;
            width: 283px !important;
            margin-top: 0px !important;

        }
        .setheight{
            margin: 0px 0px 0px 0px !important;
            padding: 22px 45px 16px 45px !important;
            /*            margin:15px 15px 15px 0px !important;
                        padding:15px 15px 15px 15px !important;*/
        }
        h5 {

            font-size: 16px !important;

        }
        .singel-course {

            border-radius: 5px !important;
            border: 1px solid #E4E4E4 !important;
            box-shadow: 0px 17px 13px #E9E9E9 !important;
            height: 292px !important;

        }
        .singel-course .cont {
            padding-top: 5px !important;
        }
    }

</style>
<section id="course-part" class="pt-115 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h3 class="title">Blog</h3>
                </div>
            </div>
        </div>
        <div id="main-more" style="display: block;">
            <div class="row mt-30">
                <div class="col-lg-4 col-md-6 mar-top setheight">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="http://smarthomefinder.ai/admin/src/blog/1.jpg" alt="Course" class="setimage">
                            </div>
                        </div>
                        <div class="cont">
                            <a href="/blog_detail"><h5>Major Reasons for the Many Old and Fake Listings on Most Real Estate Websites</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mar-top setheight">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="http://smarthomefinder.ai/admin/src/blog/2.jpg" alt="Course" class="setimage">
                            </div>
                        </div>
                        <div class="cont">
                            <a href="/blog_detail"><h5>Attract Customers and Potential Deals-The Start up Conundrum </h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mar-top setheight">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="http://smarthomefinder.ai/admin/src/blog/3.png" alt="Course" class="setimage">
                            </div>
                        </div>
                        <div class="cont">
                            <a href="/blog_detail"><h5>Increases the Visibility of the Site on Search Engines and Increase Leads</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mar-top setheight">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="http://smarthomefinder.ai/admin/src/blog/4.jpg" alt="Course" class="setimage">
                            </div>
                        </div>
                        <div class="cont">
                            <a href="/blog_detail"><h5>A Technique for Email Marketing </h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mar-top setheight">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="http://smarthomefinder.ai/admin/src/blog/5.jpg" alt="Course" class="setimage">
                            </div>
                        </div>
                        <div class="cont">
                            <a href="/blog_detail"><h5>Cost-Effective</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mar-top setheight">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="http://smarthomefinder.ai/admin/src/blog/6.jpg" alt="Course" class="setimage">
                            </div>
                        </div>
                        <div class="cont">
                            <a href="/blog_detail"><h5>Reasons You Should Have a Strong Personal Relationship with Your Property Agent in Dubai</h5></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="seconddiv" style="display: none;">
            <div class="row mt-30">
                <div class="col-lg-4 col-md-6 mar-top setheight">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="http://smarthomefinder.ai/admin/src/blog/9.jpg" alt="Course" class="setimage">
                            </div>
                        </div>
                        <div class="cont">
                            <a href="/blog_detail"><h5>Reasons the Home You See Online Might Not Turn Out To Be the Property of Your Dreams</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mar-top setheight">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="http://smarthomefinder.ai/admin/src/blog/10.jpg" alt="Course" class="setimage">
                            </div>
                        </div>
                        <div class="cont">
                            <a href="/blog_detail"><h5>Important 2019 Facts Your Agents Will Never Tell You about Owning a Property in the UAE</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mar-top setheight">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="http://smarthomefinder.ai/admin/src/blog/11.jpg" alt="Course" class="setimage">
                            </div>
                        </div>
                        <div class="cont">
                            <a href="/blog_detail"><h5>Hot Tips to Finding a Trusted Real Estate Agent in the UAE</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="btn-more" style="display: block;">
            <div class="col-lg-4">
                <div class="view-more">
                    <button type="button" class="btn btn-default view-more-btn" id="vewmore">VIEW MORE</button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{%include "footer.html"%}

<script type="text/javascript">
    $(document).ready(function () {
        $("#vewmore").click(function () {
            document.getElementById("seconddiv").style.display = "block";
//            document.getElementById("sub-more").style.display = "block";
            document.getElementById("vewmore").style.display = "none";
        });
    });
</script>