{%include "header.html"%}
<style>
    .singel-course {
        border-radius: 5px !important;
        border: 1px solid #E4E4E4!important;
        box-shadow: 0px 17px 13px #E9E9E9 !important;
    }
    .setp{
        text-indent: 50px !important;
        text-align: justify !important;
        padding-top: 5px !important;
    }
    p{
        text-align: justify !important;
    }

</style>
<section id="course-part" class="pt-115 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h3 class="title">Frequently asked questions</h3>
                </div>
            </div>
        </div>
        <div id="main-more" style="display: block;">
            <div class="row mt-30">
                <div class="col-lg-12 col-md-12">
                    <div class="">
                        <div class="cont">

                            <p>Smart Home Compare exists to help users navigate around the real estate world with ease to be able to mine the information they need, to make the right decision when buying, renting or leasing properties. 
                            </p>
                            <p>
                                Unlike other portals, our interface presents the user with refined data and information, what they need to meander in the real estate world, all on one page, and at a single search. The website merges two advanced technologies, Bigdata and AI to give users an edge around the real estate listing market. </p>
                            <br>
                            <h6>FAQ's about Smart Home Compare:</h6>
                            <br>
                            <ul style="padding-left: 17px;">
                                <li style="list-style-type: decimal;font-weight: bold;">
                                    <p style="font-weight: bold;color:#3c2529">What makes Smart Home Compare different from other portals?</p>
                                    <p>-Other property listing websites only provide what's in their database -while Smart Home Compare, as its name goes compares listings across different listing portals to help users make an informed decision when deciding what house to rent, buy or lease depending with the area, agent and price, among other factors. </p>
                                </li>
                                <li style="list-style-type: decimal;font-weight: bold;">
                                    <p style="font-weight: bold;color:#3c2529">What geographical area and location does Smart Home Compare cover?</p>
                                    <p> -The portal brings up all listed properties for sale, house/apartment for rent and open-to-lease estates within Dubai, Abu Dhabi and their environs.</p>
                                </li>
                                <li style="list-style-type: decimal;font-weight: bold;">
                                    <p style="font-weight: bold;color:#3c2529">Where Does Smart Home Compare tap its data? </p>
                                    <p>- Being entirely a cross compare portal with advanced tools that enhance usability, SHC takes the advantage of Bigdata technology along with machine intelligence to channels listings from the most trusted and established real estate websites in the UAE, showing it on one place.  </p>
                                </li>
                                <li style="list-style-type: decimal;font-weight: bold;">
                                    <p style="font-weight: bold;color:#3c2529">What property search engine does Smart Home Compare use?</p>
                                    <p>- it uses the artificial intelligence technology algorithms, similar to those used by major search engines to extract listed properties on top real estate portals.   </p>
                                </li>
                                <li style="list-style-type: decimal;font-weight: bold;">
                                    <p style="font-weight: bold;color:#3c2529">Are the listings genuine? </p>
                                    <p>- Smart Home Compare can only assure the listing presented are from the leading portals. We are not in charge of filtering possibly fake listings as that should happen at the mother portal level. However, it's mostly believed that listings which appear in multiple portals are genuine until confirmed otherwise.</p>
                                </li>
                                <li style="list-style-type: decimal;font-weight: bold;">
                                    <p style="font-weight: bold;color:#3c2529">Can I be assisted by calling to know more about a listed deal I find interesting? </p>
                                    <p>- Yes, in case one has questions on a property they want to know more about, we can assist to do some further inquiring on the same.</p>
                                </li>
                                <li style="list-style-type: decimal;font-weight: bold;">
                                    <p style="font-weight: bold;color:#3c2529">How accurate are the filtering features on this portal? </p>
                                    <p>- The platform is designed to fetch and bring up the exact report as listed by top real estate websites within the market region of the UAE. What we may not guarantee is the authenticity of the listings as posted by agents from their respective websites.</p>
                                </li>
                            </ul>
                            <br>
                            <h6>Disclaimer</h6>
                            <br>
                            <p>We try our best to ensure the information provided on our website is precise but we don't guarantee total accuracy of the data, ideas, suggestion, and claims made here, either by us or external sources. </p>
                            <br>
                            <p>This is a comparison tool in the form of website portal, not necessarily a listing portal, meaning it harvests data from other real estate listing websites which we don't have control over, so we are not liable for the information displayed in the search function. </p><br>

                            <p>All information provided on this site is exclusively meant for educational/ informational purposes only. It should not be taken to replace professional advice pertaining to anything. Users intending to buy or sell property or rent should get in touch with the relevant professional as well as ensure their own safety that they are dealing with the right person. </p>
                            <br>
                            <p>We expect users to take everything here as unconfirmed data and do not promise that we or our employees will confirm the authenticity of any listing about a property, building, rental or leased assets brought up by our search results. </p>
                            <br>
                            <p>In case of time, money or property loss resulting from links that appear on this portal at any particular moment, we recommend users to take the matter with the link source, not us.</p>
                            <br>
                            <p>By continuing to use this website and any of its tools, features, ideas or information you agree to take the responsibility in case of any consequences that may come as a result of potentially misleading information, suggestion or fact stated by either us or our third-party associates.  </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{%include "footer.html"%}