<footer id="footer-part">
    <div class="footer-top pt-40 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-about mt-40">
                        <div class="logo">
                            <a href="#"> <img class="header-icon-logo" src="{{ url_for('static', filename='images/icon/footer/logo_white.png') }}" alt="icon"></a>
                        </div>
                        <p class="footer-p">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                        <ul>
                            <li>
                                <a href="#">
                                    <img class="footer-icon cursor" src="{{ url_for('static', filename='images/icon/footer/fb-footer.png') }}" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="footer-icon cursor" src="{{ url_for('static', filename='images/icon/header/g+.png') }}" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="footer-icon cursor" src="{{ url_for('static', filename='images/icon/footer/twitter-footer.png') }}" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#"><img class="footer-icon cursor" src="{{ url_for('static', filename='images/icon/header/insta.png') }}" alt="icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer-link mt-40">
                        <div class="footer-title pb-25">
                            <h6 class="h6-footer">Recent Posts</h6>
                        </div>
                        <ul>
                            <li>
                                <div class="img-footer">
                                    <img class="footer-image" src="{{ url_for('static', filename='images/icon/footer/img1.png') }}" alt="icon">
                                    <span>
                                        <p class="p-span-footer">Send up pespiciatets unde<br> omnis iste natus error</p>

                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="img-footer">
                                    <img class="footer-image" src="{{ url_for('static', filename='images/icon/footer/img2.png') }}" alt="icon">
                                    <span>
                                        <p class="p-span-footer">Send up pespiciatets unde<br> omnis iste natus error </p>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="img-footer">
                                    <img class="footer-image" src="{{ url_for('static', filename='images/icon/footer/img3.png') }}" alt="icon">
                                    <span>
                                        <p class="p-span-footer">Send up pespiciatets unde<br> omnis iste natus error </p>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer-link support mt-40">
                        <div class="footer-title pb-25">
                            <h6 class="h6-footer">Contact Us</h6>
                        </div>
                        <ul>
                            <li>
                                <div class="second-footer">
                                    <img class="second-footer-icon-1 second-footer-icon1" src="{{ url_for('static', filename='images/icon/footer/phn_white.png') }}" alt="icon">
                                    <span class="iconspan-footer">+97142820000</span>
                                </div>
                            </li>
                            <li>
                                <div class="second-footer">
                                    <img class="second-footer-icon-1" src="{{ url_for('static', filename='images/icon/footer/time_white.png') }}" alt="icon">
                                    <span class="iconspan-footer">Mon-Fri 10:00-12:00<br>Sat-Sun 10:00-12:00</span>
                                </div>
                            </li>
                            <li>
                                <div class="second-footer">
                                    <img class="second-footer-icon-1" src="{{ url_for('static', filename='images/icon/footer/location_white.png') }}" alt="icon">
                                    <span class="iconspan-footer">ROAD AI Buston-Casablaca Road,<br>P.O.Box 30880,Dubai,United Arab Emirates</span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--====== jquery js ======-->
<!--<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js">-->
    
</script><script src="{{ url_for('static', filename='js/vendor/modernizr-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<!--====== Bootstrap js ======-->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!--====== Slick js ======-->
<script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>

<!--====== Magnific Popup js ======-->
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>

<!--====== Counter Up js ======-->
<script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>

<!--====== Nice Select js ======-->
<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>

<!--====== Nice Number js ======-->
<script src="{{ url_for('static', filename='js/jquery.nice-number.min.js') }}"></script>

<!--====== Count Down js ======-->
<script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>

<!--====== Validator js ======-->
<script src="{{ url_for('static', filename='js/validator.min.js') }}"></script>

<!--====== Ajax Contact js ======-->
<script src="{{ url_for('static', filename='js/ajax-contact.js') }}"></script>

<!--====== Main js ======-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fSelect.js') }}"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
<!--====== Map js ======-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
<script src="{{ url_for('static', filename='js/map-script.js') }}"></script>

</body>

</html>