<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post" action="/login">
    <table>
        <tr>
            <td colspan="3">
                <h4>
                    {{mess}}
                </h4>
            </td>
        </tr>
        <tr>
            <td>Username</td>
            <td>Password</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="text" name="user"></td>
            <td><input type="password" name="pwd"></td>
            <td><input type="submit" value="Send"></td>
        </tr>
    </table>

</form>
</body>
</html>